<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container">
      
      <nav class="p-3 mb-2 bg-primary-subtle text-emphasis-primary d-flex justify-content-center">
        <p class="text-center fs-2 text-primary">Ordina un prodotto</p>
      </nav>

      <a href="home"><button type="button" class="btn btn-secondary mt-3">Torna in home</button></a>

      <div class="mt-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nome prodotto</th>
              <th scope="col">Prezzo</th>
              <th scope="col">Disponibile</th>
              <th scope="col">Descrizione</th>
            </tr>
          </thead>

          <tbody id="tblBody">

          </tbody>
          
        </table>
      </div>

    </div>

    <script src="/js/products.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>